* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
    flex-direction: column;
}
h5{
  margin: 10px;
  margin-top: 150px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

h4:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

h4:active {
  transform: scale(0.95);
}

.card-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 120px); /* 3 cards in a row */
    gap: 20px; /* space between cards */
    justify-content: center;
    margin-bottom: 20px; /* Space between cards and button */
}

.card {
    width: 120px;
    height: 180px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 8px;
}

.card-front img, .card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    transform: rotateY(180deg);
}
.abc{
    display: flex;
    gap: 20px;
}
.button-42 {
    background-color: initial;
    width: 150px;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    /* width: 100%; */
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    margin-top: 20px;
}

.button-42:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
